// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #014081
$secondary = #1773cf
$accent    = #9C27B0

$positive  = #00a827
$negative  = #C10015
$info      = #00d4ff
$warning   = #f7ce5e
